@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
  color: #c7d4dc;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #b767ff;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: white;
  font-weight: bold;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1.5px solid #44fadd;
}
.input-container input:hover {
  border: none;
  outline: none;
  border-bottom: 1.5px solid #fcda05;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
  font-weight: bold;
}

.outline {
  color: #fcda05;
  -webkit-text-stroke: 2px #222831;
}

.bg {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 46%,
    rgba(43, 16, 87, 1) 76%,
    rgba(57, 79, 88, 1) 96%,
    rgba(34, 40, 49, 1) 100%
  );
}
